body {
  background-color: #300080;
  text-align: center;
}

main {
  margin-right: 20px;
  margin-left: 20px;
  background-color: #303040;
}

h1 {
  text-align: center;
  color: #6000ff;
}

img {
  height: 400px;
  width: auto;
}

nav {
  background-color: #6000ff;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
}

nav li {
  display: inline;
  margin-right: 25px;
}

nav a {
  color: white;
  font-size: 1.5em;
}

nav a:hover {
  color: pink;
  text-decoration: none;
}

input {
  width: 30%;
  margin: 1%;
}
